div.weekHead {
  position: absolute;
  display: inline-block;
  left: 77.5%;
  transform: translate(-50%);
  margin-top: 80px;
  color: #199c81;
  font-size: 80px;
  font-weight: bold;
  font-family: "Merriweather Sans", sans-serif;
  text-align: center;
  text-shadow: 0px 8px 15px rgba(73, 73, 73, 0.1);
}

div.dateHead {
  position: absolute;
  display: inline-block;
  left: 77.5%;
  transform: translate(-50%);
  top: 160px;
  color: #69c9b9;
  font-size: 170px;
  font-weight: bold;
  font-family: "Merriweather Sans", sans-serif;
  text-align: center;
  text-shadow: 0px 8px 15px rgba(73, 73, 73, 0.1);
}

.todoInput {
  position: relative;
}

.buttons {
  position: relative;
}

.addButton {
  position: absolute;
  display: inline-block;
  top: 390px;
  left: 14vw;
  letter-spacing: 2.5px;
  font-family: "Merriweather Sans", sans-serif;
  font-size:13px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  background-color: whitesmoke;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: #29403c;
  padding: 15px 20px 15px 20px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
}

.clearAllButton {
  position: absolute;
  display: inline-block;
  top: 390px;
  left: 25vw;
  letter-spacing: 2.5px;
  font-family: "Merriweather Sans", sans-serif;
  font-size:13px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  background-color: whitesmoke;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: #29403c;
  padding: 15px 20px 15px 20px;
  cursor: pointer;
}

.clearAllButton:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
}

.noneButton {
  visibility: hidden;
}

div.addForm {
  position: static;
  display: block;
  text-align: center;
  background-color: #000000;
  color:whitesmoke;
  opacity: 0.8;
  padding: 20px;
  border-radius: 10px;
  width:400px;
  height: 150px;
}

div.addFormHeader {
  display: block;
  position : static;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom:20px;
}

label.inputTime {
  display: block;
  position : static;
  font-family: 'Noto Sans KR', sans-serif;
  margin:7px;
}

label.inputWork {
  display: block;
  position : static;
  font-family: 'Noto Sans KR', sans-serif;
  margin:7px;
}

button.addUpdateButton {
  display: block;
  position : static;
  font-family: 'Noto Sans KR', sans-serif;
  margin-top:20px;
  margin-left:50%;
  transform: translate(-50%);
}

div.todoDate {
  display: block;
  position: absolute;
  top : 470px;
  left: 77.5%;
  transform: translate(-50%);
}