button.editButton {
    position: absolute;
    cursor: pointer;
    border:3px solid #69c9b9;
    color: whitesmoke;
    background-color: #69c9b9;
    margin : 20px 0 0 -55px;
}

button.deleteButton {
    position: absolute;
    cursor: pointer;
    border:2px solid #69c9b9;
    color: whitesmoke;
    background-color: #69c9b9;
    margin : 20px 0 0 -35px;
}

div.ListView {
    position: static;
    display:inline-block;
    margin: 7px 0 1px 0;
    padding: 10px;
    width: 430px;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    word-break:break-all;
    line-height: 26px;
    border: none;
    border-radius: 5px;
    background-color: #69c9b9;
    color: #2e2e2e;
    z-index: -1;
}

div.workList {
  position: static;
  display: inline-block;
  padding:0 60px 0 60px;
}

div.timeList {
  position: absolute;
}

div.EditForm {
    position: static;
    display: block;
    text-align: center;
    background-color: #000000;
    color:whitesmoke;
    opacity: 0.8;
    padding: 20px;
    border-radius: 10px;
    width:350px;
    height: 120px;
  }
  
  label.editTime {
    display: block;
    position : static;
    font-family: 'Noto Sans KR', sans-serif;
    margin:7px;
  }
  
  label.editWork {
    display: block;
    position : static;
    font-family: 'Noto Sans KR', sans-serif;
    margin:7px;
  }
  
  button.editUpdateButton {
    display: block;
    position : static;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 20px;
    margin-left:50%;
    transform: translate(-50%);
    cursor: pointer;
  }