#root {
  border-style: none;
  cursor: default;
  height:100%;
}

body {
  width: 100vw;
  height: 100%;
}

#grid {
  position: absolute;
  display: grid;
  grid-template-columns: 55vw 45vw;
  grid-template-rows: auto fill;
  margin: 0 auto;
  border-style: none;
  height: 100%;
}

.leftSide {
  background-color: #69c9b9;
  text-align: center;
  border-style: none;
}

.rightSide {
  background-color: whitesmoke;
  text-align: center;
  border-style: none;
}

@media only screen and (max-width: 1280px) {
  div.rightSide {
    display:none;
  }

  #grid {
    grid-template-columns: 100vw 0vw;
  }
}

@media only screen and (max-width: 720px) {
  div.rightSide {
    display:none;
  }

  div.leftSide {
    display:none;
  }
  
  #root {
    background-color: #69c9b9;
  }
}


@media only screen and (max-height: 720px) {
  div.workList {
    display:none;
  }
}